---
import Layout from '../layouts/Layout.astro';
import WhoAmI from "../components/WhoAmI.astro";
import Skills from "../components/Skills.astro";
import ProjectsCC from '@/components/ProjectsCC.astro';
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="VicBox Dot Dev | Portfolio" description="A simple portfolio created with Astro.">
    <main class="flex flex-col gap-10">
        <WhoAmI />
        <Skills />
        <ProjectsCC />
        <ContactMe />
    </main>
</Layout>
